.related-work {
    /* min-height: 100vh; */
    background-color: #F6DCD4;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: auto !important;
    height: auto !important;
    /* margin-bottom: -5em; */
}

.gradient-divider {
    height: 3px;
    width: 100%;
    margin: 2rem 0;
    background: linear-gradient(to right, #F6DCD4, #FF6545, #F6DCD4);
    border-radius: 2px;
  }
  

.card-toggle {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 1rem 1rem 0 1rem;
    cursor: pointer;
    /* height: 200px; */
  }

.toggle-card::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    border-radius: 16px;
    padding: 3px;
    background: conic-gradient(from 0deg, #FF6545, white, #FF6545);
    mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    -webkit-mask: 
      linear-gradient(#fff 0 0) content-box, 
      linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor;
    z-index: 2;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  

.toggle-card::after{
    background: linear-gradient(45deg, #FF6545, white);
    opacity: 1;
}

/* .toggle-card:hover::after {
    background: conic-gradient(from 0deg, #FF6545, white, #FF6545);
    opacity: 1;
  } */

.toggle-card .card-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    font-size: 1.5rem;
    /* margin-top: 0.5em; */
  }
  
  .toggle-card .card-body.open {
    max-height: 1500px; /* enough to fully expand */
    transition: max-height 0.5s ease;
  }
  
  .card-toggle {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 1rem 1rem 0 1rem;
    cursor: pointer;
  }

  
  .three-image-row {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    margin-top: 1.5rem;
    margin-right: 3rem;
  }
  
  .three-image-row img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  }
  /* .card-toggle h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
  } */